
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


/*------Mes modifs------*/

/*Navbar*/
nav {
    background: #222222;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a.current {
    background: white;
    color: #222222;
}


/*Homepage*/
.container {
    text-align: center;
}

.paquet {
    text-align: center;
   
}

#c1 {
    margin-bottom: -253px;
    margin-right: -80px;
}

#c2 {
    margin-bottom: -243px;
    margin-right: -60px;
}

#c3 {
    margin-bottom: -233px;
    margin-right: -40px;
}

#c4 {
    margin-bottom: -223px;
    margin-right: -20px;
}

.top_card {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: 200ms linear;
}

.card {
    display: inline-block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: 200ms linear;
    transform: scale(0);
}

.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}